.elements{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px,1fr));
    max-width: 880px;
    margin:50px auto 0px auto;
    grid-row-gap: 20px;
    grid-column-gap: 17px;
}
@media screen and (max-width: 320px){
    .elements{
    margin-top: 36px;
    max-width: 320px;
    grid-template-columns: repeat(auto-fit, minmax(282px,282px));
    padding: 0 19px;
    }
}
