.profile__image{
    display:flex;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-image: url(../../../images/Kusto.png);
}
@media screen and (max-width: 1080px){
    .profile__image{
        margin: auto;
    }
}