.popup__save-text{
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: white;
    margin: auto;
}
@media screen and (max-width: 768px){
    .popup__save-text{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
    }
}