.profile{
    margin-top: 40px;
    display: flex;
}
@media screen and (max-width: 1080px){
    .profile{
        margin-top: 42px;
        flex-direction: column;
    }
}
@media screen and (max-width: 320px){
    .profile{
        padding: 0 19px;
    }
}