.header__text{
  color: white;;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  margin: 0;
  margin-bottom: 38px;
  align-self: center;
  text-decoration: none;
  

}