.profile__edit-button{
    display: flex;
    height: 28px;
    width: 28px;
    border: 1px solid #FFFFFF;
    margin-left: 18px;
    margin-bottom: 9px;
    background-color: black;
    transition: opacity 0.2s ease-in;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 320px){
    .profile__edit-button{
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-bottom: 7px;
    }
}
.profile__edit-button:hover{
    cursor: pointer;
    opacity: .6;
}